/*------------------------------
 * Copyright 2014 Pixelized
 * http://www.pixelized.cz
 *
 * Documentation for themes
------------------------------*/

/*------------------------------
	MAIN
------------------------------*/

.color-switcher-colors {
	width:600px;
}

.color-switcher-colors div {
	width:18px;
	height:18px;
}

html, 
body {
	height:100%;
}

body {
	font-family:'Open Sans', sans-serif;
	padding-top:50px;
	background-color:#F0F0F0;
}

.show2 {
	display:inline-block!important;
}

.hidden {
	display:none!important;
	visibility:hidden!important;
}

a {
	color:#1EB5C3;
}

a:hover {
	color:#000000;
}

a,
a:focus,
a:hover,
button,
button:focus,
button:hover,
button:active {
	outline:0 none;
	text-decoration:none;
}

p {
	margin:0 0 20px;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
	font-family:'Open Sans', sans-serif;
}

/* BUTTONS */

.btn:focus,
.btn:active:focus,
.btn.active:focus {
	outline:0 none;
	outline-offset:0;
}

.btn-hg {
	padding:13px 19px;
	font-size:22px;
	line-height:1.2;
}

.btn {
	border-radius:2px;
	border:0;
	border-bottom:3px solid rgba(0,0,0,0.2);
	border-top:3px solid transparent;
	transition:all 0.2s;
	color:#FFFFFF;
}

.btn-default {
	background-color:#CCCCCC;	
	color:#333333;
}

.btn-inverse {
	background-color:#555555;	
}

.btn-primary {
	background-color:#1EB5C3;
}

.btn-success {
	background-color:#01AE68;	
}

.btn-danger {
	background-color:#B81117;	
}

.btn-warning {
	background-color:#FFB23A;	
}

.btn-info {
	background-color:#0D58A6;	
}

.btn-default:hover,
.btn-inverse:hover,
.btn-primary:hover,
.btn-success:hover,
.btn-danger:hover,
.btn-warning:hover,
.btn-info:hover {
	background-color: #333333;
	border-top-color:transparent;
	border-bottom-color:rgba(0,0,0,0.2);
	color:#FFFFFF;
}

/* ALERTS */

.alert-danger {background-color:#B81117;}
.alert-success {background-color:#01AE68;}
.alert-warning {background-color:#FFB23A;}
.alert-info {background-color:#0D58A6;}

/*------------------------------
	MENU
------------------------------*/

.page-menu {
	position:fixed;
	top:0;
	left:0;
	z-index:1;
	width:260px;
	height:100%;
	padding:60px 10px 10px;
	background-color:#1EB5C3;
	color:#DDDDDD;
}

.page-menu .menu-header {
	color:#FFFFFF;
	font-weight:bold;
	font-size:18px;
	padding:10px 0;
	border-bottom:1px solid rgba(0,0,0,0.1);
}

.page-menu p {
	font-size:13px;
	font-weight:bold;
	text-transform:uppercase;
	position:absolute;
	bottom:8px;
	margin:0;
	padding-right:10px;
	
}

.page-menu p a {
	color:rgba(0,0,0,0.5);
}

.nav.vertical-nav li a {
	color:#DDDDDD;
    padding:8px 0;
	font-weight:600;
	text-transform:uppercase;
	font-size:16px;
}

.nav.vertical-nav li a:hover,
.nav.vertical-nav li a:focus,
.nav.vertical-nav li.open a,
.nav.vertical-nav .dropdown-menu li a:hover {
	background-color:transparent;
	color:#FFFFFF;
}

.nav.vertical-nav .dropdown-menu {
	position:static;
	float:none;
	border-radius:0;
	box-shadow:none;
	margin:0;
	padding:0;
	border:0;
	background-color:transparent;
	margin-left:18px;
}

.nav.vertical-nav .dropdown-menu li a {
	padding:5px 0;
	font-size:14px;
	color:#DDDDDD;
}

.nav.vertical-nav .dropdown-menu li a b {
	color:#FFFFFF;
}

/*------------------------------
	NAVBAR
------------------------------*/

.navbar {
	background-color:#171717;
	border:0;
	margin:0;
	color:#FFFFFF;
}

.navbar .scroll {
	margin-left:10px;
}

.navbar-icon,
.navbar-icon:hover {
	background-color:#1EB5C3;
	width:50px;
	height:50px;
	display:inline-block;
	color:#FFFFFF;
	font-size:30px;
	text-align:center;
	padding-top:2px;
	cursor:pointer;
}

.navbar-right {
	position:absolute;
	right:0;
	top:0;
}

.navbar-right p.email {
	font-size:14px;
	padding-right:10px;
}

.navbar-default .navbar-link,
.navbar-default .navbar-link:hover {
	background-color:#1EB5C3;
	color:#FFFFFF;
	height:50px;
	padding:12px 10px 0;
	font-size:18px;
	display:inline-block;
	transition:all 0.4s;
}


.navbar-default .navbar-link:hover {
	background-color:#FFFFFF;
	color:#1EB5C3;
}

.navbar p {
	display:inline-block;
	margin:0;
	font-size:18px;
	padding-left:10px;
	position:relative;
	top:-2px;
}

.navbar p a {
	color:#FFFFFF;
}

.navbar p a:hover {
	color:#1EB5C3;
}

/*------------------------------
	CONTENT
------------------------------*/

.page-content {
	transform:translate3d(0,0,0);
	margin-right:0;
	transition:all 0.6s ease;
	padding:20px;
	z-index: 1020;
	position:relative;
	background-color:#F0F0F0;
}

.page-content.menu-is-open {
	transform: translate3d(260px,0,0);
	margin-right:260px;
}

/*------------------------------
	TYPOGRAPHY
------------------------------*/

h1 {
	font-size:60px;
}

h2 {
	margin-bottom:20px;
	margin-top:100px;
	font-size:36px;
}

h2 small {
	display:block;
	margin-top:10px;
	font-size:18px;
	line-height:25px;
}

h3 {
	margin-bottom:20px;
	margin-top:60px;
	font-size:26px;
}

h4 {
	font-weight:600;
	margin:20px 0 10px;
}

p {
	font-size:15px;
	line-height:25px;
}

ul li,
ol li {
	font-weight:700;
	color:#777777;
	font-size:15px;
	line-height:25px;
}

p.image-desc {
	font-size:13px;
	font-weight:bold;
	color:#777777;
	margin:5px 0 0;
}

.alert {
	border:0;
	border-radius:0;
	color:#FFFFFF;
}

code {
	border: 1px solid #e4e4e4;
	padding: 2px 4px;
	background: #f5f7f8;
	font-size: 14px;
	border-radius: 3px;
	color: #4b4b4b;
	font:14px "Source Code Pro", Monaco, monospace;
}

pre {
	font-family:"Source Code Pro", Monaco, monospace;
	font-size:14px;
	color:#000000;
	border-radius:0;
	border:0;
	background-color:#f5f7f8;
}

pre.syntax-highlighter {
	padding:10px 0;
}

pre.syntax-highlighter ul {
	margin:0;
}

pre.syntax-highlighter ul li {
	font-weight:normal;
	font-size:14px;
	color:#000000;
	line-height: 18px;
}

pre.syntax-highlighter ul li span {
	color:#afafaf;
	width:38px;
	display:inline-block;
	padding-right:8px;
	margin-right:8px;
	border-right:1px solid #e4e4e4;
	text-align:right;
}

pre.syntax-highlighter code {
	border:0;
}

code.html.tag {color: #006699; font-weight:600;}
code.html.attr {color: gray;}
code.html.string {color: blue;}
code.html.comment {color: #008200;}

p.description {
	font-size:24px;
	color:#888888;
	line-height:35px;
}

ul.heading-list {
	border-bottom:1px solid #CCCCCC;
	list-style:none;
	padding-bottom:20px;
	margin-bottom:20px;
}

ul.heading-list li a {
	color:#333333;
	font-size:18px;
	line-height:30px;
	position:relative;
	padding-left:43px;
}

ul.heading-list li a b {
	display:none;
}

ul.heading-list li a:before {
	width:14px;
	height:14px;
	display:block;
	position:absolute;
	content:"";
	border:3px solid #1EB5C3;
	border-radius:50%;
	top:5px;
	left:20px;
}

ul.heading-list li a:hover {
	color:#1EB5C3;
}

/*------------------------------
	EXTRA SMALL DEVICES
------------------------------*/

@media (max-width:767px) {
	div.row img {
		margin-top:20px;
	}
}

@media (max-width:480px) {
	.navbar p {
		font-size:16px;
		top:-3px;
	}
	
	.navbar-header p span {
		display:none;
	}
	
	.page-menu {
		width:100%;
		height:auto;
		transform:translate3d(0,-100%,0);
		z-index:1025;
		transition:transform 0.6s ease;
	}
	
	.page-menu.page-menu-open {
		transform:translate3d(0,0, 0);
	}
	
	.page-content.menu-is-open {
		transform:translate3d(0,0,0);
		margin-right:0;
	}
	
	.page-menu p {
		position:static;
		margin-top:10px;
		padding-right:10px;
	}
}

@media (max-width:360px) {
	h1 {
		font-size:40px;
	}
	
	p.description {
		font-size:20px;
		line-height:30px;
	}
}
