<div class="box registration-form">
  <h2>Registro</h2>
    <p>Crea tu nuevo usuario para poder acceder a nuestros servicios. ¿Ya tienes una cuenta? <a href="sign_in.html">Inicia Sesion</a> con tu nombre de usuario y contraseña.</p>
    <ul>
        <li>Podrás Inscribir a tu equipo</li>
        <li>Podrás Inscribirte como cosplayer</li>
        
    </ul>
   <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
      <div class="form-group">
        <%= f.label :nickname %>
        <%= f.text_field :nickname, autofocus: true, placeholder: 'Enter nickname', class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, autofocus: true, placeholder: 'Enter name', class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, placeholder: 'Enter email', class: 'form-control' %>
      </div>
      <div class="field">
        <%= f.label :phone %><br />
        <%= f.text_field :phone, placeholder: 'Enter phone', class: 'form-control' %>
      </div>
      <div class="form-group">
        <label><%= f.radio_button :gender_cd, :male%> Male</label>
        <label><%= f.radio_button :gender_cd, :female %> Female</label>
      </div>
      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: 'Password' %>
      </div>
      <div class="form-group">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', placeholder: 'Password' %>
      </div>
      <%= f.submit "Crear", class: 'btn btn-primary' %>
    <% end %>
</div>
