<div class="col-lg-12 col-lg-offset-0" >
            <div class="row">
                <div class="box">
                		<h4>Duoc League of Gamers o "DLG", es una comunidad que se dedica a realizar eventos competitivos de videojuegos y tecnología. Nuestra organización se conforma por estudiantes mayormente de las escuelas de informática y salud. Aquí, luego de realizar exitosamente el primer evento DLG en Duoc, nace la idea y necesidad de desarrollar un software para sistematizar dichos procesos que nacen en la producción de eventos de esta categoría, como: Posicionamiento de stands (ventas u emprendimiento), elección de "cosplays", creación de brackets para competición de videojuegos, shows, etc. Nuestra misión es producir y facilitar la organización de las actividades de entretenimiento tecnológicas, mediante softwares construidos por nuestro propio equipo de informática. Nuestra visión es incentivar nacionalmente el mercado tecnológico y los deportes electrónicos. Por otro lado, también innovar en software de producción de eventos para grandes empresas. Junto con esto, empresas mundiales como "MSI" capta mayores ventas de sus productos y financia nuestros eventos. Hoy nos encontramos desarrollando nuestro software y plataforma web, la cual construirá una base de datos para ser utilizada con múltiples propósitos, principalmente organización y área de marketing (CRM). Recalcamos, nuestra misión de incentivar el entretenimiento electrónico y sus tecnologías, como; la sana competencia y la responsabilidad que lleva utilizar éstas herramientas. Hemos realizado ya dos eventos con éxito, esperando realizar el tercero y probar nuestro software con plataforma web. Nombre del software BETA: Zarit.</h4>
                </div>
            </div>
</div>            