<div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Contacto
                    
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Content Row -->
       
        <!-- /.row -->

        <!-- Contact Form -->
        <!-- In order to set the email address and subject line for the contact form go to the bin/contact_me.php file. -->
        
        <div class="col-lg-7 col-lg-offset-0" >
            <div class="row">
                <div class="box">
                    <h3>Escríbenos</h3>
                    <%= form_tag send_contact_path, method: "post" do %>
                        <div class="control-group form-group">
                            <div class="controls">
                                <label>Nombre Completo <span class="required">*</span></label>
                                <input name="name" type="text" class="form-control" id="name" required data-validation-required-message="Please enter your name.">
                                <p class="help-block"></p>
                            </div>
                        </div>
                        <div class="control-group form-group">
                            <div class="controls">
                                <label>Teléfono de contacto</label>
                                <input name="number" type="tel" class="form-control" id="phone" required data-validation-required-message="Please enter your phone number.">
                            </div>
                        </div>
                        <div class="control-group form-group">
                            <div class="controls">
                                <label>Email <span class="required">*</span></label>
                                <input name="email" type="email" class="form-control" id="email" required data-validation-required-message="Please enter your email address.">
                            </div>
                        </div>
                        <div class="control-group form-group">
                            <div class="controls">
                                <label>Mensaje <span class="required">*</span></label>
                                <textarea name="message" rows="10" cols="100" class="form-control" id="message" required data-validation-required-message="Please enter your message" maxlength="999" style="resize:none"></textarea>
                            </div>
                        </div>
                        <div id="success"></div>
                        <!-- For success/fail messages -->
                        <button type="submit" class="btn btn-primary">Enviar</button>
                    <%end%>
                </div>

            </div>
        </div>
        <!-- /.row -->



        
</div>
