

<div class="panel panel-default">
  <div class="panel-heading">Nosotros</div>
  <div class="panel-body">
    Facilitar la organización de las actividades de entretenimiento tecnológicas 
  </div>
</div>