<!-- CONTENT BODY - START -->
<div class="col-sm">
	<div class="box">
                            
        <!-- POST - START -->
        <article class="post post-single">
        	<div class="post-date-wrapper">
            	<div class="post-date">
                	<div class="day">9</div>
                	<div class="month">Nov 2014</div>
                </div>
                <div class="post-type">
                	<i class="fa fa-video-camera"></i>
                </div>
            </div>
            <div class="post-body">
                <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam auctor dictum nibh, ac gravida orci porttitor et.</h2>
                <div class="flex-video widescreen"><iframe width="420" height="315" src="https://www.youtube.com/embed/U1p9ZqGOY9Y" frameborder="0" allowfullscreen></iframe></div>
                <p>En la primera version de Duoc League of Legends por parte del
            equipo de estudiantes quienes llevaron a cabo este evento junto con el apoyo de Duoc, se contemplaron torneos de Counter-Strike 1.6,
            League of Legends y un torneo de Cosplay.</p>
                <!--<p>Proin arcu nulla, accumsan vel lacinia a, sodales eget nulla. Duis condimentum tristique risus ut consequat. Integer sollicitudin urna lectus, nec auctor nisl aliquam nec. Fusce consequat purus eget massa laoreet, vel sollicitudin sapien scelerisque. Nunc efficitur commodo nibh, ut accumsan elit sodales nec.</p>
                <p><img src="assets/image_001.jpg" class="pull-left" style="max-width:300px;" alt=""> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam auctor dictum nibh, ac gravida orci porttitor et. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nullam posuere magna a dapibus luctus. Curabitur posuere vel nisi et scelerisque. Praesent imperdiet sed enim et ornare. In congue quis enim ut gravida. Aenean non justo varius, dapibus ipsum eu, mattis urna. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam auctor dictum nibh, ac gravida orci porttitor et. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nullam posuere magna a dapibus luctus. Curabitur posuere vel nisi et scelerisque. Praesent imperdiet sed enim et ornare. In congue quis enim ut gravida. Aenean non justo varius, dapibus ipsum eu, mattis urna.</p>-->
                <div class="post-info">
                    <span>Posted by: admin</span>
                    <a href="#respond" class="btn btn-primary scroll">Add comment</a>
                </div>
            </div>
        </article>
        <!-- POST - END -->
        
        <!-- COMMENT WRAPPER - START --
        
        <div class="comments">
            <h2>3 Comments</h2>
            <ol class="commentlist">
            	
                <!-- COMMENT - START --
                <li class="comment">
                    <div class="avatar"><img src="assets/user.jpg" alt=""></div>
                    <div class="comment-body">
                        <div class="author">
                            <h3>John Doe</h3>
                            <div class="meta"><span class="date" title="2015-01-29 20:16:04">2015-01-29 20:16:04</span></div>
                        </div>      
                        <p class="message">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam auctor dictum nibh, ac gravida orci porttitor et.</p>
                        <div class="reply"><a href=""><i class="fa fa-reply"></i>Reply</a></div>
                    </div>
                    
                    <ul class="children">
                    	<!-- COMMENT - START --
                        <li class="comment">
                            <div class="avatar"><img src="assets/user.jpg" alt=""></div>
                            <div class="comment-body">
                                <div class="author">
                                    <h3>John Doe</h3>
                                    <div class="meta"><span class="date" title="2015-01-29 20:16:04">2015-01-29 20:16:04</span></div>
                                </div>      
                                <p class="message">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam auctor dictum nibh, ac gravida orci porttitor et.</p>
                                <div class="reply"><a href=""><i class="fa fa-reply"></i>Reply</a></div>
                            </div>
                        </li>
                        <!-- COMMENT - END -->
                        
                        <!-- COMMENT - START --
                        <li class="comment">
                            <div class="avatar"><img src="assets/user.jpg" alt=""></div>
                            <div class="comment-body">
                                <div class="author">
                                    <h3>John Doe</h3>
                                    <div class="meta"><span class="date" title="2015-01-29 20:16:04">2015-01-29 20:16:04</span></div>
                                </div>      
                                <p class="message">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam auctor dictum nibh, ac gravida orci porttitor et.</p>
                                <div class="reply"><a href=""><i class="fa fa-reply"></i>Reply</a></div>
                            </div>
                        </li>
                        <!-- COMMENT - END -->
                    </ul>
                    
                </li>
                <!-- COMMENT - END -->
                
                <!-- COMMENT - START --
                <li class="comment">
                    <div class="avatar"><img src="assets/user.jpg" alt=""></div>
                    <div class="comment-body">
                        <div class="author">
                            <h3>John Doe</h3>
                            <div class="meta"><span class="date" title="2015-01-29 20:16:04">2015-01-29 20:16:04</span></div>
                        </div>      
                        <p class="message">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam auctor dictum nibh, ac gravida orci porttitor et.</p>
                        <div class="reply"><a href=""><i class="fa fa-reply"></i>Reply</a></div>
                    </div>
                </li>
            	<!-- COMMENT - END -->
                
            </ol>    
        </div>
        <!-- COMMENT WRAPPER - START --
        
       	<!-- COMMENT FORM - END --
        <div id="respond" class="comment-respond">
			<h3 id="reply-title" class="comment-reply-title">Write a comment</h3>
			<form method="post" id="commentform" class="comment-form">
                <div class="form-group comment-form-author">
                    <label for="author">Name<span class="required">*</span></label>
                    <input class="form-control" id="author" name="author" type="text" value="">
                </div>
                <div class="form-group comment-form-email">
                    <label for="email">Email<span class="required">*</span></label>
                    <input class="form-control" id="email" name="email" type="email" value="">
                </div>
				<div class="form-group comment-form-comment">
                    <label for="comment">Comment<span class="required">*</span></label>
                    <textarea class="form-control" id="comment" name="comment" aria-required="true"></textarea>
                </div>												
				<button class="btn btn-primary" type="submit">Submit</button>					
        	</form>
		</div>
        <!-- COMMENT FORM - END --
        
    </div>-->
</div>
<!-- CONTENT BODY - END -->
            
        </div>
    </section>
</div>
<!-- ==========================
	CONTENT - END 
=========================== -->

	<!-- ==========================
	FOOTER - START 
=========================== -->
<div class="container">
	<div class="footer-boxes">
    	<div class="row">
                    
            <!-- FOOTER BOX - START -->
        	<div class="col-md-4 hidden-xs hidden-sm">
            	<div class="box">
                	<h4>About Us</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam auctor dictum nibh, ac gravida orci porttitor et. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac.</p>
                </div>
        	</div>
            <!-- FOOTER BOX - END -->
            
            <!-- FOOTER BOX - START -->
            <div class="col-sm-6 col-md-4">
            	<div class="box footer-tags">
					<h4>Tags</h4>
                    <a href=""><span class="text-10">Clean</span></a>
                    <a href=""><span class="text-20">CV</span></a>
                    <a href=""><span class="text-20">Flat</span></a>
                    <a href=""><span class="text-14">Freelance</span></a>
                    <a href=""><span class="text-20">Modern</span></a>
                    <a href=""><span class="text-12">One Page</span></a>
                    <a href=""><span class="text-14">Professional</span></a>
                    <a href=""><span class="text-14">Responsive</span></a>
                    <a href=""><span class="text-16">Resume</span></a>
                    <a href=""><span class="text-20">Business</span></a>
                    <a href=""><span class="text-16">Corporate</span></a>
                    <a href=""><span class="text-18">CSS3</span></a>
                    <a href=""><span class="text-12">HTML5</span></a>
                    <a href=""><span class="text-16">Mobile First</span></a>
                    <a href=""><span class="text-20">Multipurpose</span></a>
                    <a href=""><span class="text-14">Portfolio</span></a>                   
				</div>
        	</div>
            <!-- FOOTER BOX - END -->
            
            <!-- FOOTER BOX - START -->
            <div class="col-sm-6 col-md-4 hidden-xs">
            	<div class="box footer-posts">
                    <h4>Recent Posts</h4>	
                    <ul class="list-unstyled">
                        <li><a href="#">Pellentesque habitant morbi</a> <span class="post-date">6.2.2015</span></li>
                        <li><a href="#">Tristique senectus et netus</a> <span class="post-date">31.1.2015</span></li>
                        <li><a href="#">Et malesuada fames ac</a> <span class="post-date">9.12.2014</span></li>
                        <li><a href="#">Turpis egestas nullam</a> <span class="post-date">1.12.2014</span></li>
                        <li><a href="#">Posuere magna a dapibus luctus</a> <span class="post-date">25.11.2014</span></li>
                    </ul>
                </div>
        	</div>
            <!-- FOOTER BOX - END -->
            
        </div>
    </div>
	<footer class="navbar navbar-default">
    	<div class="row">
        	<div class="col-md-6 hidden-xs hidden-sm">
            	<ul class="nav navbar-nav">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="team.html">Admin team</a></li>
                    <li><a href="profile.html">Profile</a></li>
                    <li><a href="tournament.html">Tournament</a></li>
                    <li><a href="gallery.html">Gallery</a></li>
                    <li><a href="forum.html">Forum</a></li>
                </ul>
            </div>
            <div class="col-md-6">
            	<p class="copyright">© Progaming 2015 All right reserved. Designed by <a href="http://pixelized.cz/" target="_blank">Pixelized Studio.</a></p>
            </div>
        </div>
    </footer>
</div>
<!-- ==========================
	FOOTER - END 
=========================== -->
