<!-- ==========================
	CONTENT - START 
=========================== -->

    <section class="content-wrapper">
    	
        <!-- MATCH DETAIL - START -->
        <div class="box tournament-detail">
            <div class="row">
            	
                <div class="col-xs-9">
            		<h2>Torneo DLG 2015 </h2>
                    <p class="date">01 de Septiembre 2015, Duoc Uc San Joaquin, Santiago Chile.</p>
                    <a href="/users/sign_up" class="btn btn-primary btn-lg" style="margin-right:5px;">Registrarme</a>
                    <!--<a href="" class="btn btn-inverse btn-lg">Official Site</a>-->
            	</div>
                
                <div class="col-xs-3">
                	<img src="assets/dlg.png" class="img-responsive center-block" alt="">
            	</div>
           	</div>
            <p class="countdown-info">El torneo DLG 2015 comenzará en:</p>
            <div class="countdown"></div>
        </div>    
        <!-- MATCH DETAIL - END -->
       
       	<div class="box colored tournament-partner">
            <div class="row">
                <div class="col-sm-4"><a href=""><img src="assets/msi.png" class="img-responsive center-block" alt=""></a></div>
            	<div class="col-sm-4"><a href="http://www.duoc.cl"><img src="assets/duoc.png" class="img-responsive center-block" alt=""></a></div>
                <div class="col-sm-4"><a href=""><img src="" class="img-responsive center-block" alt=""></a></div>
            </div>
        </div>
       	
        <div class="box">
        
        	<!-- TOURNAMENT BRACKET - START -->
            <div class="tournament-bracket hidden-xs">
            	<h2>Tournament Bracket - Best 8 teams</h2>
            	<div class="row">
                	<div class="col-sm-2">
                    	
                        <!-- BRACKET MATCH - START -->
                        <div class="bracket-match-wrapper">
                        	<h3>Quarterfinal #1</h3>
                            <div class="bracket-match">
                            	 <div><img src="assetsswe.png" alt=""><b>NiP <span>2</span></b></div>
                                 <div><img src="assetsswe.png" alt="">Fnatic <span>1</span></div>
                            </div>
                        </div>
                        <!-- BRACKET MATCH - END -->
                        
                        <!-- BRACKET MATCH - START -->
                        <div class="bracket-match-wrapper" style="margin-top:20px;">
                        	<h3>Quarterfinal #2</h3>
                            <div class="bracket-match">
                            	 <div><img src="assetsswe.png" alt=""><b>NiP <span>2</span></b></div>
                                 <div><img src="assetsswe.png" alt="">Fnatic <span>1</span></div>
                            </div>
                        </div>
                        <!-- BRACKET MATCH - END -->
                        
                    </div>
                    
                    <div class="col-sm-2">
                                                
                        <!-- BRACKET MATCH - START -->
                        <div class="bracket-match-wrapper centered">
                        	<h3>Semifinal #1</h3>
                            <div class="bracket-match">
                            	 <div><img src="assetsswe.png" alt=""><b>NiP <span>2</span></b></div>
                                 <div><img src="assetsswe.png" alt="">Fnatic <span>1</span></div>
                            </div>
                        </div>
                        <!-- BRACKET MATCH - END -->
                        
                    </div>
                    
                    <div class="col-sm-4">
                                                
                        <!-- BRACKET MATCH - START -->
                        <div class="bracket-match-wrapper centered final">
                        	<h3>Grand Final</h3>
                            <div class="bracket-match">
                            	 <div><img src="assetsswe.png" alt=""><b>NiP <span>2</span></b></div>
                                 <div><img src="assetsswe.png" alt="">Fnatic <span>1</span></div>
                            </div>
                        </div>
                        <!-- BRACKET MATCH - END -->
                        
                    </div>
                    
                    <div class="col-sm-2">
                                                
                        <!-- BRACKET MATCH - START -->
                        <div class="bracket-match-wrapper centered">
                        	<h3>Semifinal #2</h3>
                            <div class="bracket-match">
                            	 <div><img src="assetsswe.png" alt=""><b>NiP <span>2</span></b></div>
                                 <div><img src="assetsswe.png" alt="">Fnatic <span>1</span></div>
                            </div>
                        </div>
                        <!-- BRACKET MATCH - END -->
                        
                    </div>
                    
                    <div class="col-sm-2">
                    	
                        <!-- BRACKET MATCH - START -->
                        <div class="bracket-match-wrapper">
                        	<h3>Quarterfinal #3</h3>
                            <div class="bracket-match">
                            	 <div><img src="assetsswe.png" alt=""><b>NiP <span>2</span></b></div>
                                 <div><img src="assetsswe.png" alt="">Fnatic <span>1</span></div>
                            </div>
                        </div>
                        <!-- BRACKET MATCH - END -->
                        
                        <!-- BRACKET MATCH - START -->
                        <div class="bracket-match-wrapper" style="margin-top:20px;">
                        	<h3>Quarterfinal #4</h3>
                            <div class="bracket-match">
                            	 <div><img src="assetsswe.png" alt=""><b>NiP <span>2</span></b></div>
                                 <div><img src="assetsswe.png" alt="">Fnatic <span>1</span></div>
                            </div>
                        </div>
                        <!-- BRACKET MATCH - END -->
                        
                    </div>
                    
                </div>
            </div>
            <!-- TOURNAMENT BRACKET - END -->
            
            <!-- TOURNAMENT BRACKET - START -->
            <div class="tournament-bracket visible-xs">
            	<h2>Tournament Bracket - Best 8 teams</h2>

                <!-- BRACKET MATCH - START -->
                <div class="bracket-match-wrapper">
                    <h3>Quarterfinal #1</h3>
                    <div class="bracket-match">
                         <div><img src="assetsswe.png" alt=""><b>NiP <span>2</span></b></div>
                         <div><img src="assetsswe.png" alt="">Fnatic <span>1</span></div>
                    </div>
                </div>
                <!-- BRACKET MATCH - END -->
                
                <!-- BRACKET MATCH - START -->
                <div class="bracket-match-wrapper">
                    <h3>Quarterfinal #2</h3>
                    <div class="bracket-match">
                         <div><img src="assetsswe.png" alt=""><b>NiP <span>2</span></b></div>
                         <div><img src="assetsswe.png" alt="">Fnatic <span>1</span></div>
                    </div>
                </div>
                <!-- BRACKET MATCH - END -->
                
                <!-- BRACKET MATCH - START -->
                <div class="bracket-match-wrapper">
                    <h3>Quarterfinal #3</h3>
                    <div class="bracket-match">
                         <div><img src="assetsswe.png" alt=""><b>NiP <span>2</span></b></div>
                         <div><img src="assetsswe.png" alt="">Fnatic <span>1</span></div>
                    </div>
                </div>
                <!-- BRACKET MATCH - END -->
                
                <!-- BRACKET MATCH - START -->
                <div class="bracket-match-wrapper">
                    <h3>Quarterfinal #4</h3>
                    <div class="bracket-match">
                         <div><img src="assetsswe.png" alt=""><b>NiP <span>2</span></b></div>
                         <div><img src="assetsswe.png" alt="">Fnatic <span>1</span></div>
                    </div>
                </div>
                <!-- BRACKET MATCH - END -->
                        
                <!-- BRACKET MATCH - START -->
                <div class="bracket-match-wrapper">
                    <h3>Semifinal #1</h3>
                    <div class="bracket-match">
                         <div><img src="assetsswe.png" alt=""><b>NiP <span>2</span></b></div>
                         <div><img src="assetsswe.png" alt="">Fnatic <span>1</span></div>
                    </div>
                </div>
                <!-- BRACKET MATCH - END -->
                
                <!-- BRACKET MATCH - START -->
                <div class="bracket-match-wrapper">
                    <h3>Semifinal #2</h3>
                    <div class="bracket-match">
                         <div><img src="assetsswe.png" alt=""><b>NiP <span>2</span></b></div>
                         <div><img src="assetsswe.png" alt="">Fnatic <span>1</span></div>
                    </div>
                </div>
                <!-- BRACKET MATCH - END -->       
                        
                <!-- BRACKET MATCH - START -->
                <div class="bracket-match-wrapper">
                    <h3>Grand Final</h3>
                    <div class="bracket-match">
                         <div><img src="assetsswe.png" alt=""><b>NiP <span>2</span></b></div>
                         <div><img src="assetsswe.png" alt="">Fnatic <span>1</span></div>
                    </div>
                </div>
                <!-- BRACKET MATCH - END -->      
                
            </div>
            <!-- TOURNAMENT BRACKET - END -->
            
            <!-- TOURNAMENT GROUPS - START -->
            <div class="tournament-groups">
            	<div class="row">
                    
                    <!-- GROUP - START -->
                    <div class="col-sm-6">
                    	<h3>Group A</h3>
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Team</th>
                                        <th>M</th>
                                        <th>W</th>
                                        <th>L</th>
                                        <th>RD</th>
                                        <th>P</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><img src="assetsswe.png" alt=""> NiP</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0/0</td>
                                        <td>0</td>
                                    </tr>
                                    <tr>
                                        <td><img src="assetsswe.png" alt=""> NiP</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0/0</td>
                                        <td>0</td>
                                    </tr>
                                    <tr>
                                        <td><img src="assetsswe.png" alt=""> NiP</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0/0</td>
                                        <td>0</td>
                                    </tr>
                                    <tr>
                                        <td><img src="assetsswe.png" alt=""> NiP</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0/0</td>
                                        <td>0</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- GROUP - END -->
                    
                    <!-- GROUP - START -->
                    <div class="col-sm-6">
                    	<h3>Group B</h3>
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Team</th>
                                        <th>M</th>
                                        <th>W</th>
                                        <th>L</th>
                                        <th>RD</th>
                                        <th>P</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><img src="assetsswe.png" alt=""> NiP</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0/0</td>
                                        <td>0</td>
                                    </tr>
                                    <tr>
                                        <td><img src="assetsswe.png" alt=""> NiP</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0/0</td>
                                        <td>0</td>
                                    </tr>
                                    <tr>
                                        <td><img src="assetsswe.png" alt=""> NiP</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0/0</td>
                                        <td>0</td>
                                    </tr>
                                    <tr>
                                        <td><img src="assetsswe.png" alt=""> NiP</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0/0</td>
                                        <td>0</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- GROUP - END -->
                    
                    <!-- GROUP - START -->
                    <div class="col-sm-6">
                    	<h3>Group C</h3>
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Team</th>
                                        <th>M</th>
                                        <th>W</th>
                                        <th>L</th>
                                        <th>RD</th>
                                        <th>P</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><img src="assetsswe.png" alt=""> NiP</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0/0</td>
                                        <td>0</td>
                                    </tr>
                                    <tr>
                                        <td><img src="assetsswe.png" alt=""> NiP</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0/0</td>
                                        <td>0</td>
                                    </tr>
                                    <tr>
                                        <td><img src="assetsswe.png" alt=""> NiP</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0/0</td>
                                        <td>0</td>
                                    </tr>
                                    <tr>
                                        <td><img src="assetsswe.png" alt=""> NiP</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0/0</td>
                                        <td>0</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- GROUP - END -->
                    
                    <!-- GROUP - START -->
                    <div class="col-sm-6">
                    	<h3>Group D</h3>
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Team</th>
                                        <th>M</th>
                                        <th>W</th>
                                        <th>L</th>
                                        <th>RD</th>
                                        <th>P</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><img src="assetsswe.png" alt=""> NiP</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0/0</td>
                                        <td>0</td>
                                    </tr>
                                    <tr>
                                        <td><img src="assetsswe.png" alt=""> NiP</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0/0</td>
                                        <td>0</td>
                                    </tr>
                                    <tr>
                                        <td><img src="assetsswe.png" alt=""> NiP</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0/0</td>
                                        <td>0</td>
                                    </tr>
                                    <tr>
                                        <td><img src="assetsswe.png" alt=""> NiP</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0/0</td>
                                        <td>0</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- GROUP - END -->
                    
                </div>
            </div>
            <!-- TOURNAMENT GROUPS - END -->   
        </div>
    </section>

<!-- ==========================
	CONTENT - END 
=========================== -->