// Place all the styles related to the Admin::Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#admin-body{
	padding-top: 0;

}

.admin-container{
	
	margin-top: 50px;
}