
<div class="box registration-form">
      <h2>Login</h2>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>
          <div class="form-group">
            <%= f.label :email %>
            <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "ejemplo@gmail.com"%>
          </div>
          <div class="form-group">
            <%= f.label :password %>
            <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "abc123$" %>
          </div>
          <%= f.submit "Login",class: "btn btn-primary login-btn" %>
          <div class="checkbox remember"><label><%= f.check_box :remember_me %> Remember me on this computer</label></div>
          <%= link_to "Forgot your password?", "#", id: 'reset-password-toggle' %>
      <% end %>
  </div>
    
    <div class="box registration-form" id="reset-password">
      <h2>Frogotten password</h2>
        <p>If you've forgotten your password use this form to reset your password. New password will be send to your email.</p>
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <div class="form-group">
                <%= f.label :email %>
                <%= f.email_field :email, class: 'form-control', placeholder: 'Enter email' %>
            </div>
            <%= f.submit "Reset password", class: 'btn btn-primary' %>
        <% end %>
    </div>
</div>
