<p>Bienvenido <%= @email %>!</p>

<p>Para poder confirmar tu cuenta, sólo debes pinchar el siguiente link:</p>

<p><%= link_to 'Confirmar mi cuenta', confirmation_url(@resource, confirmation_token: @token) %></p>
