<%= simple_form_for [:admin, @team], :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :name %>
  <%= f.association :users %>
  <%= f.button :submit, :class => 'btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                admin_teams_path, :class => 'btn btn-default' %>
<% end %>
