<header class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a href="index.html" class="navbar-brand visible-xs">Progaming</a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><i class="fa fa-bars"></i></button>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><%= link_to 'Inicio',root_path%></li>
                <li><%= link_to 'Nosotros',about_path%></li>
                <li><%= link_to 'Torneos',tournaments_path%></li>
                <li><%= link_to 'Contacto',contact_path%></li>
              
                <!--<li><a href="gallery.html">Gallery</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Gaming</a>
                    <ul class="dropdown-menu">
                        <li><a href="gaming-team.html"><i class="fa fa-plus"></i>Gaming team</a></li>
                        <li><a href="matches-list.html"><i class="fa fa-plus"></i>List of matches</a></li>
                        <li><a href="match-single.html"><i class="fa fa-plus"></i>Single match</a></li>
                        <li><a href="tournament.html"><i class="fa fa-plus"></i>Tournament</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Forum</a>
                    <ul class="dropdown-menu">
                        <li><a href="forum.html"><i class="fa fa-plus"></i>Forum Page</a></li>
                        <li><a href="forum-list.html"><i class="fa fa-plus"></i>Forum threads</a></li>
                        <li><a href="forum-single.html"><i class="fa fa-plus"></i>Single forum post</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pages</a>
                    <ul class="dropdown-menu">
                        <li><a href="signup.html"><i class="fa fa-plus"></i>Sign up</a></li>
                        <li><a href="signin.html"><i class="fa fa-plus"></i>Sign in</a></li>
                        <li><a href="servers.html"><i class="fa fa-plus"></i>Servers</a></li>
                        <li><a href="404.html"><i class="fa fa-plus"></i>Error Page</a></li>
                    </ul>
                </li>-->
            </ul>
            <div class="pull-right navbar-buttons hidden-xs">
                <% if !current_user %>
                    <%= link_to 'Registrarse', new_user_registration_path, class: 'btn btn-primary' %>
                    
                    <%= link_to 'Iniciar Sesion', new_user_session_path, class: 'btn btn-inverse' %>
                <% else %>
                    <a href="#" class="dropdown-toggle btn btn-inverse" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.name%>  <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <% if current_user.is_admin %>
                            <li> <a href="/admin"> Seccion admin </a></li>
                        <% end %>
                        <li><%= link_to "Perfil", edit_user_registration_path(current_user) %> </li>
                        <li><%= link_to "Salir", destroy_user_session_path, method: :delete %> </li>
                    </ul>
                <% end %>
                <!-- <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'btn btn-inverse' %>-->
                <a class="navbar-icon show2" id="open-search"><i class="fa fa-search"></i></a>
                <a class="navbar-icon hidden" id="close-search"><i class="fa fa-times"></i></a>
                <div class="hidden" id="navbar-search-form">
                    <form role="search">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" value="" name="navbar-search" id="navbar-search" class="form-control" placeholder="Search">
                                <span class="input-group-btn"><button class="btn btn-primary" type="submit" id="navbar-search-submit"><i class="fa fa-search"></i></button></span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</header>