<!DOCTYPE html>
<html>
<head>
    <!-- ==========================
        Meta Tags 
    =========================== -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- ==========================
        Title 
    =========================== -->
    <title>Duoc League of Legends</title>
        
    <!-- ==========================
        Fonts 
    =========================== -->
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,200,200italic,300,300italic,400italic,600,600italic,700,700italic,900&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <!-- ==========================
        CSS 
    =========================== -->
    <link href="/assets/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/animate.css" rel="stylesheet" type="text/css">
    <link href="/assets/owl.carousel.css" rel="stylesheet" type="text/css">
    <link href="/assets/owl.theme.css" rel="stylesheet" type="text/css">
    <link href="/assets/owl.transitions.css" rel="stylesheet" type="text/css">
    <link href="/assets/creative-brands.css" rel="stylesheet" type="text/css">
    <link href="/assets/jquery.vegas.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/magnific-popup.css" rel="stylesheet" type="text/css">
    <link href="/assets/custom.css" rel="stylesheet" type="text/css">
    
    <!-- ==========================
        JS 
    =========================== -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    
</head>
<body>
    <h1>progaming</h1>
    
    <!-- ==========================
        HEADER - START 
    =========================== -->
    <%= render 'layouts/navbar' %>
    <!-- ==========================
        HEADER - END 
    =========================== -->  
    
    <!-- ==========================
        TITLE - START 
    =========================== -->
    <div class="container hidden-xs">
        <div class="header-title">
            <div class="pull-left">
                <h2><a href="/#"><span class="text-primary">Beta</span>Zarit</a></h2>
                <p>Torneos de videojuegos Chile</p>
            </div>
        </div>
    </div>
    <!-- ==========================
        TITLE - END 
    =========================== -->
    
    <!-- ==========================
        JUMBOTRON - START 
    =========================== -->
    <%= render 'layouts/jumbotron' %>
    <!-- ==========================
        JUMBOTRON - END 
    =========================== -->
    
    <!-- ==========================
        CONTENT - START 
    =========================== -->
    <div class="container">
        <section class="content-wrapper">
            <div class="row">
            
                <!-- SIDEBAR - START -->
                <%= render 'layouts/sidebar' %>
                <!-- SIDEBAR - END -->
                
                <!-- CONTENT BODY - START -->
                <div class="col-sm-8">
                    <%= yield %>
                </div>
                <!-- CONTENT BODY - END -->
                
            </div>
        </section>
    </div>
    <!-- ==========================
        CONTENT - END 
    =========================== -->
   
    <!-- ==========================
        FOOTER - START 
    =========================== -->
    <%= render 'layouts/footer' %>
    <!-- ==========================
        FOOTER - END 
    =========================== -->
   
    <!-- ==========================
        JS 
    =========================== -->        
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="/assets/bootstrap.min.js"></script>
    <script src="/assets/owl.carousel.js"></script>
    <script src="/assets/jquery.magnific-popup.min.js"></script>
    <script src="/assets/creative-brands.js"></script>
    <script src="/assets/jquery.vegas.min.js"></script>
    <script src="/assets/twitterFetcher_min.js"></script>
    <script src="/assets/jquery.countdown.min.js"></script>
    <script src="/assets/custom.js"></script>
</body>
</html>